[Unit]
Description=bbb-exporter

[Service]
Type=simple
ExecStart=/usr/bin/python3 /opt/bigbluebutton-exporter/bbb-exporter/server.py
Restart=always
RestartSec=5s
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin
EnvironmentFile=/etc/bbb-exporter.env

[Install]
WantedBy=multi-user.target
