name: Docker image build master branch
on:
  push:
    branches:
      - master

jobs:
  build:
    name: Push Docker image to GitHub package container registry
    runs-on: ubuntu-latest
    strategy:
      matrix:
        platform:
          - linux/amd64
          - linux/arm64
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2
      - uses: docker/build-push-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: greenstatic/bigbluebutton-exporter
          tags: "latest"
